<div class="container-fluid">
  <div class="container py-2 d-flex flex-column flex-wrap justify-content-evenly align-items-center align-self-center">
    <img class="my-3 img-fluid" src="./assets/img/header/logo.png" alt="logo" />
    <div class="my-3 d-flex flex-row flex-wrap justify-content-center gap-5">
      <a href="https://www.facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.whatsapp.com" target="_blank"><i class="bi bi-whatsapp"></i></a>      
      <a href="/login"><i class="bi bi-person-circle bi-state-active"></i></a>
    </div>
  </div>
</div>
