<!-- Modal -->
<div class="modal fade" id="modalForm_Education" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="formLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4 text-secondary" id="formLabel">{{modeTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
                <label for="modalForm_Education-institute" class="form-label text-primary">Instituto educativo</label>
                <input [disabled]="modeDelete" type="text" required class="form-control" id="modalForm_Education-institute" aria-describedby="modalForm_Education-instituteHelp" placeholder="Instituto..." maxlength="50" value="{{education.institute}}">
                <div id="modalForm_Education-instituteHelp" class="form-text">Nombre del instituto educativo.</div>
            </div>
            <div class="mb-3">
              <label for="modalForm_Education-title" class="form-label text-primary">Título educativo</label>
              <input [disabled]="modeDelete" type="text" required class="form-control" id="modalForm_Education-title" aria-describedby="modalForm_Education-titleHelp" placeholder="Título..." maxlength="50" value="{{education.title}}">
              <div id="modalForm_Education-titleHelp" class="form-text">Nombre, carrera o título estudiado.</div>
            </div>
            <div class="mb-3">
              <label for="modalForm_Education-description" class="form-label text-primary">Descripción del título</label>
              <textarea [disabled]="modeDelete" required class="form-control" id="modalForm_Education-description" aria-describedby="modalForm_Education-descriptionHelp" placeholder="Descripción..." maxlength="255" value="{{education.description}}"></textarea>
              <div id="modalForm_Education-descriptionHelp" class="form-text">Descripción del título educativo.</div>
            </div>
            <div class="mb-3">
              <label for="modalForm_Education-period" class="form-label text-primary">Periodo de tiempo</label>
              <input [disabled]="modeDelete" type="text" required class="form-control" id="modalForm_Education-period" aria-describedby="modalForm_Education-periodHelp" placeholder="Periodo..." maxlength="50" value="{{education.period}}">
              <div id="modalForm_Education-periodHelp" class="form-text">Periodo o año(s) de estudio.</div>
            </div>
            <div class="mb-3">
              <label for="modalForm_Education-image" class="form-label text-primary">Imagen</label>
              <input [disabled]="modeDelete" type="url" required class="form-control" id="modalForm_Education-image" aria-describedby="modalForm_Education-imageHelp" placeholder="https://..." maxlength="255" value="{{education.image}}">
              <div id="modalForm_Education-imageHelp" class="form-text">Ingresa la URL de una imagen representativa de la título educativo.</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="modeCreate" type="button" class="btn btn-primary" data-bs-target="#modalDialog" data-bs-toggle="modal" (click)="onCreate()">{{modeButton}}</button>
          <button *ngIf="modeUpdate" type="button" class="btn btn-primary" data-bs-target="#modalDialog" data-bs-toggle="modal" (click)="onUpdate()">{{modeButton}}</button>
          <button *ngIf="modeDelete" type="button" class="btn btn-primary" data-bs-target="#modalDialog" data-bs-toggle="modal" (click)="onDelete()">{{modeButton}}</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- UI -->
  <div class="container px-sm-0">
    <h1><i class="bi bi-bookmark-check"></i>Educación</h1>
    <button *ngIf="isLogged" type="button" class="btn btn-lg btn-primary btn-create" data-bs-toggle="modal" data-bs-target="#modalForm_Education" mode="create" index="0"><i class="bi bi-plus-lg"></i></button>
    <div class="mt-4 d-flex flex-colum flex-wrap">
      <div *ngFor="let education of list; index as index" class="card mb-4 w-100">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{education.image}}" class="img-fluid rounded-start card-image" alt="imagen">
          </div>
          <div class="col-md-8 px-4 py-2">
            <div class="card-body">
              <h4 class="card-title">{{education.institute}}</h4>
              <h5 class="card-title">{{education.title}}</h5>
              <p class="card-text">{{education.description}}</p>
              <p class="card-text"><small class="text-body-secondary">Periodo de tiempo: {{education.period}}</small></p>
            </div>
          </div>
        </div>
        <button *ngIf="isLogged" type="button" class="btn btn-lg btn-primary btn-edit" data-bs-toggle="modal" data-bs-target="#modalForm_Education" mode="update" [attr.index]="index"><i class="bi bi-pencil-fill"></i></button>
        <button *ngIf="isLogged" type="button" class="btn btn-lg btn-primary btn-delete" data-bs-toggle="modal" data-bs-target="#modalForm_Education" mode="delete" [attr.index]="index"><i class="bi bi-trash3"></i></button>
      </div>    
  </div>
  </div>