<!-- Modal -->
<div class="modal fade" id="modalDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4 text-secondary" id="modalDialog_Title"></h1>
        </div>
        <div class="modal-body mb-3">
            <div class="d-flex flex-column justify-content-start align-items-center">
                <div id="modalDialog_Icon"></div>
                <div class="px-4 fs-4" id="modalDialog_Message"></div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
  </div>  
  
<router-outlet></router-outlet>