<!-- Modal -->
<div class="modal fade" id="modalForm_Project" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="formLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4 text-secondary" id="formLabel">{{modeTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formGroup">
            <div class="mb-3">
              <label for="modalForm_Project.name" class="form-label text-primary">Nombre del proyecto</label>
              <input id="modalForm_Project.name" formControlName="name" type="text" placeholder="Nombre..." class="form-control" aria-describedby="modalForm_Project.nameHelp">
              <div id="modalForm_Project.nameHelp" class="form-text">Nombre clave del proyecto.</div>
            </div>
            <div class="mb-3">
              <label for="modalForm_Project.description" class="form-label text-primary">Descripción del proyecto</label>
              <textarea id="modalForm_Project.description" formControlName="description" rows="5" placeholder="Descripción..." class="form-control" aria-describedby="modalForm_Project.descriptionHelp"></textarea>
              <div id="modalForm_Project.descriptionHelp" class="form-text">Descripción de las actividades realizadas en el proyecto.</div>
            </div>
            <div class="mb-3">
                <label for="modalForm_Project.link" class="form-label text-primary">Link del proyecto</label>
                <input id="modalForm_Project.link" formControlName="link" type="url" placeholder="https://..." class="form-control" aria-describedby="modalForm_Project.linkHelp">
                <div id="modalForm_Project.linkHelp" class="form-text">Ingresa la URL del proyecto.</div>
            </div>            
            <div class="mb-3">
              <label for="modalForm_Project.period" class="form-label text-primary">Periodo de tiempo del proyecto</label>
              <input id="modalForm_Project.period" formControlName="period" type="text" placeholder="Periodo..." class="form-control" aria-describedby="modalForm_Project.periodHelp">
              <div id="modalForm_Project.periodHelp" class="form-text">Periodo de tiempo en que se realizó el proyecto.</div>
            </div>
            <div class="mb-3">
              <label for="modalForm_Project.image" class="form-label text-primary">Imagen del proyecto</label>
              <input id="modalForm_Project.image" formControlName="image" type="url" placeholder="https://..." class="form-control" aria-describedby="modalForm_Project.imageHelp">
              <div id="modalForm_Project.imageHelp" class="form-text">Ingresa la URL de una imagen representativa del proyecto.</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button *ngIf="modeCreate" [disabled]="formGroup.invalid" type="button" class="btn btn-primary" data-bs-target="#modalDialog" data-bs-toggle="modal" (click)="onCreate()">{{modeButton}}</button>
          <button *ngIf="modeUpdate" [disabled]="formGroup.invalid" type="button" class="btn btn-primary" data-bs-target="#modalDialog" data-bs-toggle="modal" (click)="onUpdate()">{{modeButton}}</button>
          <button *ngIf="modeDelete" [disabled]="formGroup.invalid" type="button" class="btn btn-primary" data-bs-target="#modalDialog" data-bs-toggle="modal" (click)="onDelete()">{{modeButton}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- UI -->
  <div class="container mt-4 px-sm-0">
    <h1 class="collection-title"><i class="bi bi-award"></i>Proyectos</h1>
    <button *ngIf="(authentication$ | async)?.isAuthenticated" type="button" class="btn btn-lg btn-primary btn-create" data-bs-toggle="modal" data-bs-target="#modalForm_Project" mode="create" index="0"><i class="bi bi-plus-lg"></i></button>
    <div class="mt-5 d-flex flex-colum flex-wrap">
      <div *ngFor="let project of list; index as index" class="card mb-4 w-100">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{project.image}}" class="img-fluid rounded-start card-image" alt="imagen">
          </div>
          <div class="col-md-8 px-4 py-2">
            <div class="card-body">
              <h4 class="card-title">{{project.name}}</h4>
              <p class="card-text">{{project.description}}</p>
              <p><i class="bi bi-globe"></i><a href="{{project.link}}" target="_blank">Enlace al proyecto completo</a></p>
              <p class="card-text"><small class="text-body-secondary">Periodo de tiempo: {{project.period}}</small></p>
            </div>
          </div>
        </div>
        <button *ngIf="(authentication$ | async)?.isAuthenticated" type="button" class="btn btn-lg btn-primary btn-edit" data-bs-toggle="modal" data-bs-target="#modalForm_Project" mode="update" [attr.index]="index"><i class="bi bi-pencil-fill"></i></button>
        <button *ngIf="(authentication$ | async)?.isAuthenticated" type="button" class="btn btn-lg btn-primary btn-delete" data-bs-toggle="modal" data-bs-target="#modalForm_Project" mode="delete" [attr.index]="index"><i class="bi bi-trash3"></i></button>
      </div>    
  </div>
  </div>