<!-- Modal -->
<div class="modal fade" id="modalForm_Experience" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="formLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="formLabel">{{modeTitle}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="modalForm_Experience-title" class="form-label text-primary">Título del puesto</label>
            <input type="text" required class="form-control" id="modalForm_Experience-title" aria-describedby="modalForm_Experience-titleHelp" placeholder="Título..." maxlength="50" value="{{experience.title}}">
            <div id="modalForm_Experience-titleHelp" class="form-text">Título del Puesto.</div>
          </div>
          <div class="mb-3">
            <label for="modalForm_Experience-description" class="form-label text-primary">Descripción del puesto</label>
            <textarea required class="form-control" id="modalForm_Experience-description" aria-describedby="modalForm_Experience-descriptionHelp" placeholder="Descripción..." maxlength="255" value="{{experience.description}}"></textarea>
            <div id="modalForm_Experience-descriptionHelp" class="form-text">Descripción de las actividades realizadas en el puesto.</div>
          </div>
          <div class="mb-3">
            <label for="modalForm_Experience-period" class="form-label text-primary">Periodo de tiempo en el puesto</label>
            <input type="text" required class="form-control" id="modalForm_Experience-period" aria-describedby="modalForm_Experience-periodHelp" placeholder="Periodo..." maxlength="50" value="{{experience.period}}">
            <div id="modalForm_Experience-periodHelp" class="form-text">Periodo de tiempo en el puesto.</div>
          </div>
          <div class="mb-3">
            <label for="modalForm_Experience-image" class="form-label text-primary">Imagen</label>
            <input type="url" required class="form-control" id="modalForm_Experience-image" aria-describedby="modalForm_Experience-imageHelp" placeholder="https://..." maxlength="255" value="{{experience.image}}">
            <div id="modalForm_Experience-imageHelp" class="form-text">Ingresa la URL de una imagen representativa de la experiencia.</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <!-- <button *ngIf="modeCreate" type="button" class="btn btn-primary" (click)="onCreate()">{{modeButton}}</button> -->
        <button *ngIf="modeCreate" type="button" class="btn btn-primary" data-bs-target="#modalDialog" data-bs-toggle="modal" (click)="onCreate()">{{modeButton}}</button>
        <button *ngIf="modeUpdate" type="button" class="btn btn-primary" (click)="onUpdate(0)">{{modeButton}}</button>
        <button *ngIf="modeDelete" type="button" class="btn btn-primary" (click)="onDelete(0)">{{modeButton}}</button>
      </div>
    </div>
  </div>
</div>

<!-- UI -->
<div class="container px-sm-0">
  <h1><i class="bi bi-bookmark-check"></i>Experiencia</h1>
  <button *ngIf="isLogged" type="button" class="btn btn-lg btn-primary btn-create" data-bs-toggle="modal" data-bs-target="#modalForm_Experience" mode="create" index="0"><i class="bi bi-plus-lg"></i></button>
  <div class="mt-4 d-flex flex-colum flex-wrap">
    <div *ngFor="let experience of list; index as i" class="card mb-4 w-100">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{experience.image}}" class="img-fluid rounded-start card-image" alt="imagen">
        </div>
        <div class="col-md-8 px-4 py-2">
          <div class="card-body">
            <h4 class="card-title">{{experience.title}}</h4>
            <p class="card-text">{{experience.description}}</p>
            <p class="card-text"><small class="text-body-secondary">Periodo de tiempo: {{experience.period}}</small></p>
          </div>
        </div>
      </div>
      <button *ngIf="isLogged" type="button" class="btn btn-lg btn-primary btn-edit" data-bs-toggle="modal" data-bs-target="#modalForm_Experience" mode="update" index="0"><i class="bi bi-pencil-fill"></i></button>
      <button *ngIf="isLogged" type="button" class="btn btn-lg btn-primary btn-delete" data-bs-toggle="modal" data-bs-target="#modalForm_Experience" mode="delete" index="0"><i class="bi bi-trash3"></i></button>
    </div>    
</div>
</div>